<html>
    <head>
        <title>Nodeverse</title>
        <link rel="stylesheet" href="css/offdevice.css">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
        <meta property="og:description" content="Nodeverse is a Miiverse Clone that allows you to discuss with other users about games and more !">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="Nodeverse">
        <meta property="og:type" content="article">
        <meta property="og:image" content="/img/favicon.png">
        <meta property="og:site_name" content="Nodeverse">
    </head>
    <body>
        <div id="sub-body">
            <menu id="global-menu">
                <li id="global-menu-logo"><h1><a href="/"><img src="/img/menu-logo.png" alt="Nodeverse"></a></h1></li>
                <li id="global-menu-feed"><a href="/activity" class="symbol"><span>Activity Feed</span></a></li>
                <li id="global-menu-community"><a href="/" class="symbol"><span>Communities</span></a></li>
            </menu>
        </div>
    </body>
</html>
