<html>
    <%- include("elements/header") %>
    <body>
      <div class="post-list-outline no-content no-post-content">
			<p>The Activity Feed is not working for now. What about trying the other features?</p>
		</div>
   </body>
</html>