<html>
    <%- include("elements/header") %>
    <div id="main-body" class="profile-top">
   <body>
       <div class="main-column" id="help">
		<div class="post-list-outline">
			<h2 class="label">Contact Us</h2>
			<div id="guide" class="help-content">
                      		<p>If you need to contact us, for any reason, here you are.</p>
				<h2>Rix56</h2>
				<p>Site Developer and Administrator.</p>
				<p>User Page: <a href="/users/Rix56">Rix56</a></p>
				<p>Discord: <b>Rix56#0988</b></p>
				<h2>Murilo</h2>
				<p>Site Developer, Administrator and Advertiser. Also the Owner of Rewrittenverse.</h2>
				<p>User Page: <a href="/users/Murilo">Murilo</a></p>
				<p>Discord: <b>Murilo#2112</p>
				<h2>DaKux</h2>
				<p>Site Developer and Owner.</p>
				<p>User Page: <a href="/users/NodeDaKux">DaKux</a></p>
				<p>E-Mail: <a href="mailto:izkiu.contactpro@gmail.com</a></p>
				
		             </div>
	                </div>
                    </div>
                 </div>
           </body>
      </html>
